[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hsfs = "*"
hopsworks = "*"
faker = "*"
nbconvert = "*"
parsedatetime = "*"
scikit-learn = "*"
plotly = "*"
pillow = "*"
seaborn = "*"
dataframe-image = "*"
gradio = "*"
pre-commit = "*"

[dev-packages]
pytest = "*"
nox = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
